/* ------ Specification ------ */

body {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	color: #000;	
	background: #fff;
	-webkit-font-smoothing: antialiased; 
}

ul, li {
	display: block;
	padding: 0;
	margin: 0;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

p {
	margin: 0;
}

.container {
	width: 100%;
	max-width: 1230px;
	padding: 0;
	margin: 0 auto;
}

/* ------ Header ------ */

.header {
	display: flex;
	/*padding-top: 20px;*/
	height: 400px;
	background-color: #fffcd8;
}

.intro {
	height: 400px;
	padding-top: 200px;
}

.header__author {
	font-size: 30px;
	font-weight: 400;
	text-align: center;
    color: #999999;
}

.header__title {
	font-size: 45px;
	font-weight: 400;
	text-align: center;
	
	
}

.header__title:after {
	content: '';
    display: block;
    border-bottom: 1px solid #999999;
    margin-top: 30px;
}

/* ------ Row ------ */

.row {
	padding: 30px 0 30px 0;
}

.news {
	border: 1px solid #000;
}

.news__head {
	display: flex;
	justify-content: space-between;
}

.news__info {
	display: flex;
	justify-content: space-between;
    padding: 10px 15px;
    width: 73%;
    border-left: 1px solid #000;
}

.news__icon {
	
}

.news__ruby {
	display: block;
    max-width: 100%;
    height: auto;
}

.news__lesson {
	margin-bottom: 30px;
}

.news__topic {
	margin-bottom: 50px;
}

.news__author {
	color: blue;
}

.news__content {
	border-top: 1px solid #000;
    padding: 10px 15px;
}

/* ------ Footer ------ */

.footer {
	display: flex;
	padding: 10px 0 10px 0;
}

.footer__info {
	text-align: center;
	font-size: 15px;
	font-weight: 400;
}
